@media (max-width: 550px) {
  .infoItem {
    padding: 2vw 10px;
  }
}
.container {
  display: flex;
  padding: 10vh 0;
  background-color: #10c9c3;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.infoItem {
  display: grid;
  grid-template-areas: "img info";
  height: 50%;
  flex-basis: 20%;
  min-width: 20vh;
}
.infoItem img {
  grid-area: img;
  margin: auto 10px;
}
.inform h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
}
@media (max-width: 1000px) {
  .inform h3 {
    font-size: 16px;
    line-height: 36px;
  }
}
@media (max-width: 500px) {
  .inform h3 {
    font-size: 11px;
    line-height: 18px;
  }
  .container {
    padding: 0;
  }
}
