.container {
  display: grid;
  grid-row-gap: 1fr 1fr;
  justify-items: center;
  grid-gap: 1em;
}
.container__header {
  text-align: center;
  width: 30%;
}
.container__form {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 25px 0;
}
.form__firstBlock,
.form__secondBlock {
  width: 75%;
}
.form__firstBlock {
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-areas: "a a";
  grid-template-rows: 6vh;
}
.form__secondBlock {
  display: grid;
  grid-row-gap: 0.5em;
}
.form__secondBlock {
  grid-template-rows: 6vh 18vh;
}
.form__secondBlock .inputBlock {
  display: grid;
}
.form__firstBlock .inputBlock {
  display: grid;
  grid-template-areas: "a" "a";
}

.inputBlock input {
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.form__btn {
  justify-items: center;
  align-items: center;
  text-align: center;
}
.form__btn button {
  transform: scale(1.2);
}
@media (max-width: 1124px) {
  .form__firstBlock {
    grid-template-areas: "a" "a";
    grid-row-gap: 5px;
  }
}

@media (max-width: 800px) {
  .form__firstBlock,
  .form__secondBlock {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .form__firstBlock,
  .form__secondBlock {
    width: 90%;
  }
}
@media (max-width: 300px) {
  .container {
    width: 100%;

    justify-items: stretch;
    grid-gap: 0em;
  }
  .container__header {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 250px) {
  .container {
    width: 60%;
  }
  .container__header {
    width: 50%;
  }
}
